
// Only inside a container (div, span, etc.) which has the class `wysiwyg`
.wysiwyg-container {

  img {
    width: 100%;
    height: auto;
    // This should ensure that the calculated size includes paddings
    box-sizing: border-box;
    
    &.wysiwyg-100 {
      width: 100%;
    }
  }
}

// Class -wg means "with gutter"
// Class -last means "last in a row" - so the previous ones already had all the gutters

// Width 33% with a full gutter (so first/second in 33% row)
// 1. take 100% and remove 2 gutters
// 2. divide by 3 - that's the width of an image without gutter
// 3. add a full gutter to the width of the image
// Original: width: calc((100% - (gutter * 2)) / 3 + gutter);
// Improved: width: calc(100% / 3 - (gutter * 2 / 3) + gutter);
// Improved: width: calc(33.33% - (gutter * 2/3) + gutter);
// Improved: width: calc(33.33% + (gutter * 1/3));
// Improved: width: calc(33.33% + gutter/3);

// But in our setup, the first images all have the full gutter, so
// $width33-wg is that width + a full gutter

:root {
  // Amount of cols, must be changed on each img
  --wysiwyg-cols: 1;
  --wysiwyg-this-cols: 1;
  --wysiwyg-cols-last: 0;
  // Amount of gutters - one less than the cols
  --wysiwyg-gutters: calc(var(--wysiwyg-cols) - 1);
  // Width of a column with gutter
  // --wysiwyg-col-width: calc(100% / var(--wysiwyg-cols) + var(--wysiwyg-gutter) / var(--wysiwyg-cols));

  // 33.33% for 1/3th column; 2 gutters spread evenly
  // []-|[]-|[]
  // --wysiwyg-col33-wg: calc(33.33% + calc(var(--wysiwyg-gutter) / 3));
  --wysiwyg-col33-last: calc(33.33% - calc(var(--wysiwyg-gutter) / 3 * 2));

  // 66.66% only one gutter.
  // [...]--|[] If first one is 66.66% then wg adds 2/3s of a gutter
  // []--|[...] If it's the second one, then it is 66% 1/3rd of a gutter
  // --wysiwyg-col66-wg: calc(66.66% + calc(var(--wysiwyg-gutter) * 2 / 3));
  --wysiwyg-col66-last: calc(66.66% - calc(var(--wysiwyg-gutter) / 3));
}

// 25% - first one has 1/4 of a gutter, last one is 25% without 3/4 of a gutter
// $width25-last: calc(25% - $gutter * 3 / 4);

// 50% - first one has 1/2 of a gutter, last one is 50% without 1/2 of a gutter
// $width50-wg: calc(50% + $gutter/2);
// $width50-last: calc(50% - $gutter/2);

// 75% - first one has 3/4 of a gutter, last one is 75% without 1/4 of a gutter
// $width75-wg: calc(75% + ($gutter * 3 / 4));
// $width75-last: calc(75% - ($gutter / 4));



// TODO:
// - maybe right-stack?
// - responsive behavior

$main-tag: 'picture';
$sub-tag: 'img';

@container wysiwyg-container (min-width: #{$container-breakpoint-sm}) {
  .wysiwyg-container {

    // This section is identical in the 2sxc-ui/cms and eav-ui
    // - as of 2023-03-23 v15.05
    // - and modified, but still identical as of 2024-06-24 v18.00
    // It comes first, because rules below should have higher precedence
    // In 2sxc-ui/cms this would work by default, because the selector also has 'picture' which is a longer selector
    // but in eav-ui the selector is of similar strength, so it must come first to have lower priority
    img:not(.wysiwyg-100) {

      // The right/left alignment will use a simple math trick
      // if wysiwyg-cols-last is 1, then the padding will be 0
      &.wysiwyg-right {
        float: right;
        padding-left: calc(-1 * (var(--wysiwyg-cols-last) - 1) * var(--wysiwyg-gutter));
      }
      &.wysiwyg-left {
        float: left;
        padding-right: calc(-1 * (var(--wysiwyg-cols-last) - 1) * var(--wysiwyg-gutter));
      }


      &.wysiwyg-16,
      &.wysiwyg-33,
      &.wysiwyg-66,
      &.wysiwyg-12,
      &.wysiwyg-25,
      &.wysiwyg-50,
      &.wysiwyg-75 {
        // we use --wysiwyg-cols-last do choose between two values
        width: calc(
          (
            -1 * (var(--wysiwyg-cols-last) - 1) * // this will be 1 for non-last columns
            (
              // Fraction of the columns
              100% / var(--wysiwyg-cols)
              // Add a fraction of the gutter
              + var(--wysiwyg-gutter) / var(--wysiwyg-cols)
            )
            // Multiply by the amount of columns in "this" part, eg *2 for 66%
            * var(--wysiwyg-this-cols)
          )
          +
          (
            var(--wysiwyg-cols-last) * // this will be 1 for last columns
            (
              100% / var(--wysiwyg-cols)
              // Multiply by the amount of columns in "this" part, eg *2 for 66%
              * var(--wysiwyg-this-cols)
              // Subtract all the gutters that were added in the columns before
              - calc(var(--wysiwyg-gutter) / var(--wysiwyg-cols) * (var(--wysiwyg-cols) - var(--wysiwyg-this-cols)))
            )
          )
        );
        
        // temp to better see last one
        padding-bottom: calc(var(--wysiwyg-cols-last) * 50px);
      }
      
      &.wysiwyg-16 {
        --wysiwyg-cols: 6;
      }

      &.wysiwyg-33 {
        --wysiwyg-cols: 3;
      }

      &.wysiwyg-66 {
        --wysiwyg-cols: 3;
        --wysiwyg-this-cols: 2;
      }

      &.wysiwyg-12 {
        --wysiwyg-cols: 8;
      }

      &.wysiwyg-25 {
        --wysiwyg-cols: 4;
      }

      &.wysiwyg-50 {
        --wysiwyg-cols: 2;
      }

      &.wysiwyg-75 {
        --wysiwyg-cols: 4;
        --wysiwyg-this-cols: 3;
      }
    }

    
    // Experimental with Picture
    #{$main-tag}.wysiwyg-left {

      // Second and last wysiwyg-33, or final wysiwyg-66 (after an initial wysiwyg-33)
      // This section is identical in the 2sxc-ui/cms and eav-ui as of 2023-03-23 v15.05
      &.wysiwyg-33 {
        + #{$main-tag}.wysiwyg-33 {
          + #{$main-tag}.wysiwyg-33 #{$sub-tag} {
            --wysiwyg-cols-last: 1;
          }
        }
        + #{$main-tag}.wysiwyg-66 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
      }

      // Last wysiwyg-33 after an initial wysiwyg-66
      // This section is identical in the 2sxc-ui/cms and eav-ui as of 2023-03-23 v15.05
      &.wysiwyg-66 {
        + #{$main-tag}.wysiwyg-33 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
      }

      // Second+ and last wysiwyg-25, or 50, or 75 after an initial wysiwyg-25
      // This section is identical in the 2sxc-ui/cms and eav-ui as of 2023-03-23 v15.05
      // Except for the one line which is especially marked
      &.wysiwyg-25 {
        // Second/third pic are 25%
        + #{$main-tag}.wysiwyg-25 {
          // fourth pic is 25%
          + #{$main-tag}.wysiwyg-25 + #{$main-tag}.wysiwyg-25 #{$sub-tag} {
            --wysiwyg-cols-last: 1;
          }
          // third pic is 50%
          + #{$main-tag}.wysiwyg-50 #{$sub-tag} {
            --wysiwyg-cols-last: 1;
          }
        }

        // Third pic after 25% and 50%
        + #{$main-tag}.wysiwyg-50 {
          + #{$main-tag}.wysiwyg-25 #{$sub-tag} {
            --wysiwyg-cols-last: 1;
          }
        }

        + #{$main-tag}.wysiwyg-75 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
      }

      // This section is identical in the 2sxc-ui/cms and eav-ui as of 2023-03-23 v15.05 & 2024-06-24 v18.00
      &.wysiwyg-50 {
        + #{$main-tag}.wysiwyg-50 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
        + #{$main-tag}.wysiwyg-25 + #{$main-tag}.wysiwyg-25 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
      }

      &.wysiwyg-75 {
        + #{$main-tag}.wysiwyg-25 #{$sub-tag} {
          --wysiwyg-cols-last: 1;
        }
      }

    }


  }
}

@container wysiwyg-container (max-width: #{$container-breakpoint-sm}) {
  .wysiwyg-container img {
    width: 100%;
  }
}