$grid-gutter-width: 30px;

div.wysiwyg {
  display: grid;
  gap: $grid-gutter-width;

  &.wysiwyg-1of2 {
    grid-template-columns: 1fr 1fr;
  }
  &.wysiwyg-1of3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.wysiwyg-2of3 {
    grid-template-columns: 2fr 1fr;
  }
  &.wysiwyg-3of2 {
    grid-template-columns: 1fr 2fr;
  }
  &.wysiwyg-1of4 {
    grid-template-columns: 1fr 3fr;
  }
  &.wysiwyg-4of1 {
    grid-template-columns: 3fr 1fr;
  }
  &.wysiwyg-3of4 {
    grid-template-columns: 3fr 1fr;
  }
  &.wysiwyg-4of4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  img {
    width: 100%;
    height: auto; 
  }
}
hr.wysiwyg-division {
  display: block;
  width: 100%;
  height: 0;
  border-width: 0px!important;
}

img.wysiwyg-middle {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}





