$grid-gutter-width: 30px;

div.wysiwyg {
  img {
    width: 100%;
    height: auto;
    &.wysiwyg-100, &.wysiwyg-1of2, &.wysiwyg-1of3, &.wysiwyg-2of3, &.wysiwyg-1of4, &.wysiwyg-3of4 {
      margin-bottom:$grid-gutter-width/2;
    }
    &.wysiwyg-right {
      float: right;
      padding-left:15px;
    }
    &.wysiwyg-left {
      float: left;
      padding-right:15px;
    }
    &.wysiwyg-1of2 {
      width: 50%;
    }
    &.wysiwyg-1of3 {
      width: 33%;
    }
    &.wysiwyg-2of3 {
      width: 66%;
    }
    &.wysiwyg-1of4 {
      width: 25%;
    }
    &.wysiwyg-3of4 {
      width: 75%;
    }
    @media screen and (max-width: 768px) {
      &.wysiwyg-1of2, &.wysiwyg-1of3, &.wysiwyg-2of3, &.wysiwyg-3of4, &.wysiwyg-1of4 {
        width: 100%;
        float:none!important;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
hr.wysiwyg-division {
  display: block;
  width: 100%;
  height: 0;
  border-width: 0px!important;

  &.wysiwyg-height-0 {
    height:0px;
  }
  &.wysiwyg-height-s {
    height: $grid-gutter-width;
    @media screen and (max-width: 768px) {
      height: $grid-gutter-width/2;
    }

  }
  &.wysiwyg-height-m {
    height: $grid-gutter-width*1.5;
    @media screen and (max-width: 768px) {
      height: $grid-gutter-width;
    }
  }
  &.wysiwyg-height-l {
    height: $grid-gutter-width*2;
    @media screen and (max-width: 768px) {
      height: $grid-gutter-width*1.25;
    }
  }
  &.wysiwyg-height-xl {
    height: $grid-gutter-width*2.5;
    @media screen and (max-width: 768px) {
      height: $grid-gutter-width*1.75;
    }
  }
}

img.wysiwyg-middle {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}





