<md-card>
    <div *ngIf="!isContentApp" fxLayout="row" class="row">
        <md-select [(ngModel)]="appId" (change)="updateAppId($event)" [disabled]="dashInfo.hasContent">
            <md-option *ngFor="let app of apps" [value]="app.AppId">
                {{ app.Name.indexOf('TemplatePicker.') === 0 ? '[+] ' + app.Name : app.Name }}
            </md-option>
        </md-select>
        <div *ngIf="showAdvanced && !isContentApp">
            <button md-mini-fab *ngIf="appId !== null" (click)="frame.sxc.manage.run('app')" title="{{ 'TemplatePicker.App' }}">
                <md-icon>settings</md-icon>
            </button>
            <button md-mini-fab (click)="frame.sxc.manage.run('app-import')" title="{{ 'TemplatePicker.Install' }}">
                <md-icon>add</md-icon>
            </button>
            <button md-mini-fab (click)="appStore()" title="{{ 'TemplatePicker.Catalog' }}">
                <md-icon>add_shopping_cart</md-icon>
            </button>
            <button md-mini-fab (click)="frame.sxc.manage.run('zone')" title="{{ 'TemplatePicker.Zone' }}">
                <md-icon>extension</md-icon>
            </button>
        </div>
    </div>
    <div *ngIf="isContentApp">
        <md-select [(ngModel)]="contentTypeId" (change)="updateContentTypeId($event)" [disabled]="dashInfo.hasContent || dashInfo.isList">
            <md-option *ngFor="let type of contentTypes | contentTypeFilter" [value]="type.StaticName">
                {{ type.Label }}
            </md-option>
        </md-select>
    </div>
    <div class="row" fxLayout="row" *ngIf="isContentApp ? contentTypeId != 0 : (savedAppId != 0)">
        <md-select [(ngModel)]="templateId" (change)="updateTemplateId($event)" [disabled]="templates.length == 0 && templateId">
            <md-option *ngFor="let template of templates | templateFilter:{ contentTypeId: contentTypeId, isContentApp: isContentApp }" [value]="template.TemplateId">
                {{ template.Name }}
            </md-option>
        </md-select>
        <button md-mini-fab *ngIf="templateId !== null" (click)="frame.sxc.manage.contentBlock.persistTemplate(false, false)" title="{{ 'TemplatePicker.Save' }}">
        <md-icon>check</md-icon>
    </button>
        <button md-mini-fab *ngIf="undoTemplateId !== null" (click)="frame.sxc.manage.contentBlock._cancelTemplateChange()" title="{{ 'TemplatePicker.' + (isContentApp ? 'Cancel' : 'Close') }}">
        <md-icon>close</md-icon>
    </button>
    </div>
    <div *ngIf="showRemoteInstaller">
        <md-progress-bar *ngIf="showProgress"></md-progress-bar>
        <iframe class="fr-getting-started" id="frGettingStarted" [src]="remoteInstallerUrl" width="100%" height="300px"></iframe>
        <!--<div class="sc-loading" id="pnlLoading" *ngIf="progressIndicator.show">
            <i class="icon-eav-spinner animate-spin"></i>
            <span class="sc-loading-label">
                installing <span id="packageName">{{ progressIndicator.label }}</span>
            </span>
        </div>-->
    </div>
</md-card>