<div class="content">
    <md-progress-bar [ngStyle]="{ opacity: (!ready || loading) ? 1 : 0 }" [mode]="'indeterminate'"></md-progress-bar>
    <div *ngIf="ready" class="card">
        <div class="top-controls" fxLayout="row" fxLayoutAlign="center center">
            <button md-fab *ngIf="template" (click)="persistTemplate()" title="{{ 'TemplatePicker.Save' }}">
                <md-icon>check</md-icon>
            </button>
            <button md-mini-fab class="secondary" *ngIf="undoTemplateId !== null" (click)="frame.sxc.manage.contentBlock._cancelTemplateChange()"
                title="{{ 'TemplatePicker.' + (isContentApp ? 'Cancel' : 'Close') }}">
                <md-icon>close</md-icon>
            </button>
        </div>
        <md-tab-group [(selectedIndex)]="tabIndex">
            <md-tab [label]="(isContentApp ? (contentType?.Name || 'Choose a content type!') : (app?.name || 'Choose an app!'))">
                <div *ngIf="!isContentApp; else contentApp">
                    <div class="tile" [ngClass]="{ active: app?.appId === a.appId }" [attr.title]="a.name" (click)="updateApp(a)" (mouseover)="updateApp(a, true)"
                        (mouseout)="reloadApp()" *ngFor="let a of apps">
                        <div class="bg">
                            <img *ngIf="a.thumbnail !== null && a.thumbnail !== ''" class="bg-img" [attr.src]="a.thumbnail + '?w=176&h=176'">
                            <div *ngIf="a.thumbnail === null || a.thumbnail === ''" class="bg-icon">
                                <md-icon>star</md-icon>
                            </div>
                        </div>
                        <div class="title" [ngClass]="{ show: a.thumbnail === null || a.thumbnail === '' }">
                            <span>{{a.name}}</span>
                        </div>
                    </div>
                    <div class="tile config" *ngIf="showAdvanced && !isContentApp" (click)="frame.sxc.manage.run('app-import')">
                        <div class="bg">
                            <div class="bg-icon">
                                <md-icon>get_app</md-icon>
                            </div>
                        </div>
                        <div class="title show">
                            <span>Install Apps</span>
                        </div>
                    </div>
                    <div class="tile config" *ngIf="showAdvanced && !isContentApp" (click)="frame.sxc.manage.run('zone')">
                        <div class="bg">
                            <div class="bg-icon">
                                <md-icon>apps</md-icon>
                            </div>
                        </div>
                        <div class="title show">
                            <span>Manage Apps</span>
                        </div>
                    </div>
                </div>
                <ng-template #contentApp>
                    <div class="tile" [ngClass]="{ active: contentType?.StaticName === c.StaticName }" [attr.title]="c.Label" (mouseover)="updateContentType(c, true)"
                        (mouseout)="reloadContentType()" (click)="updateContentType(c)" *ngFor="let c of contentTypes">
                        <div class="bg">
                            <img *ngIf="c.Thumbnail !== null && c.Thumbnail !== ''" class="bg-img" [attr.src]="c.Thumbnail + '?w=176&h=176'">
                            <div *ngIf="c.Thumbnail === null || c.Thumbnail === ''" class="bg-icon">
                                <md-icon>bubble_chart</md-icon>
                            </div>
                        </div>
                        <div class="title" [ngClass]="{ show: c.Thumbnail === null || c.Thumbnail === '' }">
                            <span>{{c.Label}}</span>
                        </div>
                    </div>
                </ng-template>
            </md-tab>
            <md-tab *ngIf="isContentApp ? contentType : app" [label]="'Change View'">
                <md-spinner class="templates-spinner" *ngIf="loadingTemplates"></md-spinner>
                <div class="tile" [ngClass]="{ active: template?.TemplateId === t.TemplateId }" [attr.title]="t.Name" (mouseover)="updateTemplateSubject.next({ template: t, preview: true })" (click)="updateTemplateSubject.next({ template: t })"
                    *ngFor="let t of templates">
                    <div class="bg">
                        <img *ngIf="t.Thumbnail !== null && t.Thumbnail !== ''" class="bg-img" [attr.src]="t.thumbnail + '?w=176&h=176'">
                        <div *ngIf="t.Thumbnail === null || t.Thumbnail === ''" class="bg-icon">
                            <md-icon *ngIf="isContentApp">view_carousel</md-icon>
                            <md-icon *ngIf="!isContentApp">view_quilt</md-icon>
                        </div>
                    </div>
                    <div class="title" [ngClass]="{ show: t.Thumbnail === null || t.Thumbnail === '' }">
                        <span>{{t.Name}}</span>
                    </div>
                </div>
                <div class="tile config" *ngIf="showAdvanced && !isContentApp && app?.appId !== null" (click)="frame.sxc.manage.run('app')">
                    <div class="bg">
                        <div class="bg-icon">
                            <md-icon>settings</md-icon>
                        </div>
                    </div>
                    <div class="title show">
                        <span>Manage Views</span>
                    </div>
                </div>
            </md-tab>
        </md-tab-group>
        <app-installer *ngIf="showInstaller" [isContentApp]="isContentApp"></app-installer>
    </div>
</div>