:host {
    md-card {
        background: #fff;
        md-select {
            width: 320px;
        }
        .row {
            margin: 8px 0;
        }
        button {
            margin: 0 0 0 8px;
            float: left;
            background: #0088f4;
        }
        .fr-getting-started {
            border: none;
        }
    }
}