:host {
    .card {
        md-tab-group {
            md-tab-header {
                border-bottom: none;
            }
        }
        md-select {
            width: 320px;
        }
        .row {
            margin: 8px 0;
        }
        button {
            margin: 0 0 0 8px;
            float: left;
            background: #0088f4;
        }
        .fr-getting-started {
            border: none;
        }
    }
}

/deep/ md-tab-group md-tab-header {
    border-bottom: none !important;
    .mat-tab-labels {
        display: block;
        text-align: center;
        .mat-tab-label {
            min-width: 0 !important;
            display: inline-block;
        }
    }
}