@use "sass:meta";

:root {
  --2sxc-tlb-margin: 5px;
  --2sxc-tlb-btn-bg: linear-gradient(
    125deg,
    rgba(36, 14, 18, 1) 10%,
    rgba(149, 44, 66, 1) 90%
  );
  --2sxc-tlb-btn-pro-bg: #018552;
  --2sxc-tlb-btn-error-bg: #ff0000;
}

@include meta.load-css("dnn.scss");
@include meta.load-css("icons.scss");
@include meta.load-css("popup.scss");
@include meta.load-css("toolbars.scss");

@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";
@include meta.load-css("tippy.scss");
