
<div class="content">

  <!-- debug info section -->
  <div *ngIf="showDebug">
    <h4>Debug 2sxc 14 Quick Dialog</h4>
    <ul>
      <li>Types: {{ types?.length }}, current: {{contentType?.StaticName}}, default: {{defaultContentType?.Label}}</li>
      <li>Apps: {{ (apps$ | async)?.length }}, current: {{app?.AppId }} </li>
      <li>Templates: {{templates?.length}}, current: {{template?.TemplateId}}</li>
      <li>Config: isContent='{{isContent}}' Ready: {{ready}} </li>
      <li>Tab to show: '{{tabIndex}}' / preventTypeSwitch '{{preventTypeSwitch}}' / preventAppSwitch '{{preventAppSwitch}}'</li>
      <li>installerNeeded: {{installerNeeded}}, isInnerContent: {{isInnerContent}}, installerShow: {{installerShow}}, showInstallAndAllApps: {{showInstallAndAllApps}}</li>
    </ul>
  </div>

  <!-- loading indicator -->
  <mat-progress-bar [ngStyle]="{ opacity: ready ? 0 : 1 }" [mode]="'indeterminate'"></mat-progress-bar>

  <!-- main dialog, starting with save/cancel button -->
  <div class="card"
    [ngClass]="{ blocked: !ready }"
  >
    <div class="top-controls" fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab *ngIf="template" (click)="persistTemplate(template)" [attr.title]="'TemplatePicker.Save' | translate">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-mini-fab class="secondary" *ngIf="showCancel" (click)="cancel()" [attr.title]="('TemplatePicker.' + (isContent ? 'Cancel' : 'Close')) | translate">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- tabs -->
    <mat-tab-group [(selectedIndex)]="tabIndex">
      <mat-tab>
        <ng-template mat-tab-label>
          {{(isContent
            ? (contentType?.Name || ('TemplatePicker.ContentTypePickerDefault' | translate))
            : (app?.Name || ('TemplatePicker.AppPickerDefault' | translate)))}}
        </ng-template>

        <!-- App Selector -->
        <div *ngIf="!isContent; else contentApp" class="tiles" [ngClass]="{ 'show-installer': installerShow }">

          <div class="tile"
            [ngClass]="{ active: app?.AppId === a.AppId, blocked: preventTypeSwitch }"
            [attr.title]="a.Name"
            (click)="selectApp(app, a)"
            (dblclick)="switchTab()" *ngFor="let a of apps$ | async | filterByPropertyValue:'Name':appFilter">
            <div class="bg">
              <img *ngIf="a.Thumbnail !== null && a.Thumbnail !== ''" class="bg-img" [attr.src]="a.Thumbnail + '?w=176&h=176'">
              <div *ngIf="a.Thumbnail === null || a.Thumbnail === ''" class="bg-icon">
                <mat-icon>star</mat-icon>
              </div>
            </div>
            <div class="version"><span>v{{a.VersionMain}}</span></div>

            <div class="title" [ngClass]="{ show: a.Thumbnail === null || a.Thumbnail === '' }">
              <span>{{a.Name}}</span>
            </div>
          </div>

        </div>

        <!-- Content-Type selection (when not a generic app, but the default content-app) -->
        <ng-template #contentApp>
          <div class="tiles" [ngClass]="{ 'show-installer': installerShow }">
            <div mat-button class="tile"
              [ngClass]="{ active: contentType ? contentType?.StaticName === c.StaticName : defaultContentType?.StaticName === c.StaticName, blocked: preventTypeSwitch }"
              [attr.title]="(c.Label | translate) + (showDebug ? ' (' + c.StaticName + ')' : '')"
              (click)="selectContentType(contentType, c)"
              (dblclick)="switchTab()"
              *ngFor="let c of types | filterByPropertyValue:'Label':contentTypeFilter"
            >
              <div class="bg">
                <img *ngIf="c.Thumbnail !== null && c.Thumbnail !== ''" class="bg-img" [attr.src]="c.Thumbnail + '?w=176&h=176'">
                <div *ngIf="c.Thumbnail === null || c.Thumbnail === ''" class="bg-icon">
                  <mat-icon>bubble_chart</mat-icon>
                </div>
              </div>
              <div class="title" [ngClass]="{ show: c.Thumbnail === null || c.Thumbnail === '' }">
                <span>{{c.Label}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <!-- template selection after app/content-type selection -->
      <mat-tab *ngIf="isContent ? contentType : app" [label]="('TemplatePicker.ChangeView' | translate) + ' (' + templates.length + ')'">
        <div class="tiles" [ngClass]="{ 'show-installer': installerShow }">
          <mat-spinner class="templates-spinner" *ngIf="templatesLoading$ | async"></mat-spinner>
          <div class="tile"
            [ngClass]="{ active: template?.TemplateId === t.TemplateId }"
            [attr.title]="t.Name + (showDebug ? ' (' + t.TemplateId + ')' : '')"
            (click)="selectTemplate(t)"
            *ngFor="let t of templates | filterByPropertyValue:'Name':templateFilter">
            <div class="bg">
              <img *ngIf="t.Thumbnail !== null && t.Thumbnail !== ''" class="bg-img" [attr.src]="t.Thumbnail + '?w=176&h=176'">
              <div *ngIf="t.Thumbnail === null || t.Thumbnail === ''" class="bg-icon">
                <mat-icon *ngIf="isContent">view_carousel</mat-icon>
                <mat-icon *ngIf="!isContent">view_quilt</mat-icon>
              </div>
            </div>
            <div class="title" [ngClass]="{ show: t.Thumbnail === null || t.Thumbnail === '' }">
              <span>{{t.Name}}</span>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab disabled>
        <ng-template mat-tab-label>
          <!-- search -->
          <div class="search-field" *ngIf="showSearchBar">
            <input type="text" *ngIf="tabIndex === 0 && !isContent" [(ngModel)]="appFilter">
            <input type="text" *ngIf="tabIndex === 0 && isContent" [(ngModel)]="contentTypeFilter">
            <input type="text" *ngIf="tabIndex === 1" [(ngModel)]="templateFilter">
          </div>

          <!-- install and manage buttons -->
          <button mat-button class="config-btn" *ngIf="tabIndex === 0 && showInstallAndAllApps" (click)="run('app-import')" [attr.title]="'TemplatePicker.Install.Details' | translate">
            <mat-icon>get_app</mat-icon>
            {{"TemplatePicker.Install" | translate}}
          </button>
          <button mat-button class="config-btn" *ngIf="tabIndex === 0 && showInstallAndAllApps" (click)="run('apps')" [attr.title]="'TemplatePicker.Zone.Details' | translate">
            <mat-icon>apps</mat-icon>
            {{"TemplatePicker.Zone" | translate}}
          </button>
          <button mat-button class="config-btn" *ngIf="showAdminApp && (isContent || tabIndex == 1)" (click)="run('app')" [attr.title]="'TemplatePicker.App.Details' | translate">
            <mat-icon>settings</mat-icon>
            {{"TemplatePicker.App" | translate}}
          </button>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <span class="no-install-allowed" *ngIf="installerNeeded && !installerShow">
      No {{isContent ? 'Content App' : 'Apps'}} installed yet.
      You should see the installer here but we cannot show it.
      <ng-container *ngIf="isInnerContent">
        <br>
        You cannot use the installer from inner-content.
        Please install Apps first by adding a {{isContent ? 'Content' : 'App'}} Module on a page.
      </ng-container>
      <ng-container *ngIf="!isInnerContent">
        <br>
        You don't have super-user permissions.
        Please try again with a super-user login.
      </ng-container>
    </span>
    <app-installer *ngIf="installerShow" [isContentApp]="isContent"></app-installer>
  </div>
</div>
