<md-toolbar color="primary">
  <span class="title">Versions of this item</span>
  <span class="spacer"></span>
  <a md-icon-button>
    <md-icon class="example-icon">close</md-icon>
  </a>
</md-toolbar>
<div class="table">
  <div fxLayout="row" class="header">
    <div fxFlex="10"></div>
    <div fxFlex>Version</div>
    <div fxFlex>Timestamp</div>
    <div fxFlex>User</div>
    <div fxFlex="10"></div>
  </div>
  <div [@detailAnim]="focused === version" [ngClass]="{ selected: selected === version }" class="record" *ngFor="let version of versions">
    <div class="row" fxLayout="row">
      <div fxFlex="10">
        <md-checkbox [ngModel]="selected === version" (change)="selectOrDeselect($event, version)"></md-checkbox>
      </div>
      <div fxFlex>{{version.version}}</div>
      <div fxFlex>{{version.timestamp}}</div>
      <div fxFlex>{{version.user}}</div>
      <div fxFlex="10" class="right">
        <a *ngIf="focused === version" md-icon-button (click)="focusOrBlur(version)">
          <md-icon class="example-icon">remove</md-icon>
        </a>
        <a *ngIf="focused !== version" md-icon-button (click)="focusOrBlur(version)">
          <md-icon class="example-icon">add</md-icon>
        </a>
      </div>
    </div>
    <div class="detail">
      <div fxLayout="row" *ngFor="let data of version.data">
        <div fxFlex="10"></div>
        <div fxFlex="14" class="label">{{data.label}}:</div>
        <div fxFlex class="value">{{data.value}}</div>
      </div>
    </div>
  </div>
</div>
<footer fxLayout="row">
  <div fxFlex></div>
  <button md-raised-button [disabled]="!selected" (click)="restoreDraft(selected)">restore as draft</button>
  <button md-raised-button [disabled]="!selected" (click)="restoreLive(selected)">restore live</button>
</footer>