:host {
    width: 1000px;
    max-width: 100%;
    display: block;
    background: #fafafa;
    md-toolbar {
        background: transparent;
        color: rgba(0, 0, 0, 1);
        .spacer {
            flex: 1 1 auto;
        }
        .title {
            font-weight: 300;
        }
    }
    .table {
        padding: 8px;
        .header {
            line-height: 48px;
            font-weight: 400;
            padding: 0 22px;
            color: rgba(0, 0, 0, .6);
        }
        .record {
            md-expansion-panel {
                transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), margin 280ms ease;
                &.mat-expanded {
                    margin: 16px 0 !important;
                }
                .detail {
                    padding: 8px 0;
                    line-height: 28px;
                    box-sizing: border-box;
                    .label {
                        color: rgba(0, 0, 0, .6);
                    }
                }
                md-action-row {
                    button {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    footer {
        padding: 16px 22px;
        button {
            margin-left: 8px;
        }
    }
}