:host {
    width: 1000px;
    max-width: 100%;
    display: block;
    background: #fafafa;
    md-toolbar {
        background: transparent;
        color: rgba(0, 0, 0, 1);
        .spacer {
            flex: 1 1 auto;
        }
        .title {
            font-weight: 300;
        }
    }
    .table {
        padding: 8px;
        .header {
            line-height: 48px;
            font-weight: 400;
            padding: 0 22px;
            color: rgba(0, 0, 0, .6);
        }
        .record {
            md-expansion-panel {
                transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), margin 280ms ease;
                &.mat-expanded {
                    margin: 16px 0 !important;
                }
                .detail {
                    line-height: 28px;
                    box-sizing: border-box;
                    >div {
                        border-bottom: 1px solid rgba(0, 0, 0, .1);
                        margin-bottom: 4px;
                        padding: 4px 0;
                        &.changed {
                            .label,
                            .value {
                                color: #2196F3;
                            }
                        }
                        &:last-of-type {
                            border-bottom: none;
                        }
                        .label {
                            vertical-align: top;
                            color: rgba(0, 0, 0, .6);
                            height: 28px;
                        }
                        .value {
                            cursor: pointer;
                            vertical-align: top;
                            height: 28px;
                            overflow: hidden;
                            display: inline-block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            &.expand {
                                height: auto;
                            }
                            /deep/ * {
                                margin: 0;
                            }
                        }
                        i {
                            height: 28px;
                            color: rgba(0, 0, 0, .6);
                            text-align: right;
                            font-size: 8pt;
                        }
                    }
                }
                md-action-row {
                    button {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    footer {
        padding: 16px 22px;
        button {
            margin-left: 8px;
        }
    }
}