<md-toolbar color="primary">
  <span class="title">{{"ItemHistory.Title" | translate}}</span>
  <span class="spacer"></span>
  <button md-dialog-close md-icon-button>
    <md-icon class="example-icon">close</md-icon>
  </button>
</md-toolbar>
<div class="table">
  <div class="no-items" *ngIf="sxcVersion.error | async">{{'ItemHistory.NoHistory' | translate}}</div>
  <div class="no-items" *ngIf="(sxcVersion.versions | async)?.length === 0">{{'ItemHistory.NoHistory' | translate}}</div>
  <div class="record" *ngFor="let version of sxcVersion.versions | async">
    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title fxFlex="108px">{{"ItemHistory.Version" | translate:({version:version.VersionNumber})}}</md-panel-title>
        <md-panel-description>{{version.TimeStamp}}</md-panel-description>
      </md-expansion-panel-header>
      <div class="detail">
        <div fxLayout="row" [class.changed]="data.hasChanged" *ngFor="let data of version.Data">
          <div fxFlex="160px" class="label">{{data.key}}:</div>
          <div fxFlex [class.expand]="data.expand" class="value" title="expand content" (click)="data.expand=!data.expand">
            <div class="lang-wrapper" *ngFor="let val of data.value">
              <div *ngIf="data.value.length > 0" class="lang">{{val[0]}}</div>
              <div [innerHTML]="val[1]"></div>
            </div>
          </div>
          <div flex="nogrow" *ngIf="data.value.length > 1">
            <i *ngFor="let val of data.value">[{{val[0]}}]&nbsp;</i>
          </div>
          <i flex="nogrow">[{{data.type}}]</i>
        </div>
      </div>
      <md-action-row>
        <!--<button md-button (click)="restoreDraft(version)">{{"ItemHistory.Buttons.RestoreDraft" | translate}}</button>-->
        <button md-button (click)="restoreLive(version)">{{'ItemHistory.Buttons.RestoreLive' | translate}}</button>
      </md-action-row>
    </md-expansion-panel>
  </div>
</div>
