.inpage-frame-wrapper .inpage-frame {
    width: 100%;
    z-index: 10000001;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(255, 255, 255, .8);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.inpage-frame-wrapper .inpage-frame iframe {
    background: transparent;
    max-width: 1200px;
    vertical-align: top;
    padding: 8px 0;
    box-sizing: content-box;
}

.inpage-frame-wrapper {
    transform: translate3d(0, -100%, 0);
    transition: transform .2s ease-out;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.DNNModuleContent .sc-uninitialized {
    /*
    font-size: 15px;
    margin: 4px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 5px 0 5px 0;*/
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.DNNModuleContent .sc-uninitialized div {
    margin: 5px auto;
    color: #fff;
    background: rgb(2, 139, 255);
    font-size: 48px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 95px;
    display: inline-block;
}

.DNNModuleContent.dia-select .inpage-frame-wrapper {
    transform: translate3d(0, 0, 0);
}

.DNNModuleContent.dia-select {
    min-height: 16px;
}

.DNNModuleContent.dia-select.dia-mouseover {
    outline: rgb(13, 71, 161);
    outline-style: solid;
    outline-width: 1px;
}

.dnnEditState .DnnModule {
    opacity: 1 !important;
}