.inpage-frame-wrapper .inpage-frame {
    width: 100%;
    z-index: 10000001;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .3);
}

.inpage-frame-wrapper .inpage-frame iframe {
    background: transparent;
    max-width: 1200px;
    vertical-align: top;
    box-sizing: content-box;
    height: 160px;
}

.inpage-frame-wrapper {
    transform: translate3d(0, 100%, 0);
    transition: transform .2s ease-out;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.DNNModuleContent .sc-uninitialized {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.DNNModuleContent .sc-uninitialized div {
    margin: 5px auto;
    color: #fff;
    background: rgb(2, 139, 255);
    font-size: 48px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    display: inline-block;
}

.DNNModuleContent.dia-select .inpage-frame-wrapper {
    transform: translate3d(0, 0, 0);
}

.DNNModuleContent.dia-select {
    min-height: 16px;
}

.DNNModuleContent.dia-select.dia-mouseover {
    outline: rgb(13, 71, 161);
    outline-style: solid;
    outline-width: 1px;
}

.dnnEditState .DnnModule {
    opacity: 1 !important;
}