<div class="content">

  <!-- debug info section -->
  <div *ngIf="showDebug">
    <h4>Debug</h4>
    <ul>
      <li>Types: {{ types?.length }}, current: {{contentType?.StaticName}}</li>
      <li>Apps: {{ (apps$ | async)?.length }}, current: {{app?.appId }} </li>
      <li>Templates: {{templates?.length}}, current: {{template?.TemplateId}}</li>
      <li>Config: isContent='{{isContent}}'</li>
      <li>Tab to show: '{{tabIndex}}' / preventTypeSwitch '{{preventTypeSwitch}}' / preventAppSwitch '{{preventAppSwich}}'</li>
    </ul>
  </div>

  <!-- loading indicator -->
  <md-progress-bar [ngStyle]="{ opacity: (ready$ | async) ? 0 : 1 }" [mode]="'indeterminate'"></md-progress-bar>

  <!-- main dialog, starting with save/cancel button -->
  <div class="card"
    [ngClass]="{ blocked: !(ready$ | async) }"
  >
    <div class="top-controls" fxLayout="row" fxLayoutAlign="center center">
      <button md-fab *ngIf="template" (click)="persistTemplate(template)" [attr.title]="'TemplatePicker.Save' | translate">
        <md-icon>check</md-icon>
      </button>
      <button md-mini-fab class="secondary" *ngIf="showCancel" (click)="cancel()" [attr.title]="('TemplatePicker.' + (isContent ? 'Cancel' : 'Close')) | translate">
        <md-icon>close</md-icon>
      </button>
    </div>

    <!-- tabs -->
    <md-tab-group [(selectedIndex)]="tabIndex">
      <md-tab>
        <ng-template md-tab-label>
          {{(isContent 
            ? (contentType?.Name || ('TemplatePicker.ContentTypePickerDefault' | translate)) 
            : (app?.name || ('TemplatePicker.AppPickerDefault' | translate)))}}
        </ng-template>

        <!-- App Selector -->
        <div *ngIf="!isContent; else contentApp" class="tiles">

          <div class="tile" 
            [ngClass]="{ active: app?.appId === a.appId, blocked: preventTypeSwitch }" 
            [attr.title]="a.name" 
            (click)="selectApp(app, a)"
            (dblclick)="switchTab()" *ngFor="let a of apps$ | async">
            <div class="bg">
              <img *ngIf="a.thumbnail !== null && a.thumbnail !== ''" class="bg-img" [attr.src]="a.thumbnail + '?w=176&h=176'">
              <div *ngIf="a.thumbnail === null || a.thumbnail === ''" class="bg-icon">
                <md-icon>star</md-icon>
              </div>
            </div>

            <div class="title" [ngClass]="{ show: a.thumbnail === null || a.thumbnail === '' }">
              <span>{{a.name}}</span>
            </div>
          </div>

          <!-- install and manage buttons -->
          <div class="tile config" *ngIf="showAdvanced" (click)="run('app-import')" [attr.title]="'TemplatePicker.Install' | translate">
            <div class="bg">
              <div class="bg-icon">
                <md-icon>get_app</md-icon>
              </div>
            </div>
            <div class="title show">
              <span>{{"TemplatePicker.Install" | translate}}</span>
            </div>
          </div>
          <div class="tile config" *ngIf="showAdvanced" (click)="run('zone')" [attr.title]="'TemplatePicker.Zone' | translate">
            <div class="bg">
              <div class="bg-icon">
                <md-icon>apps</md-icon>
              </div>
            </div>
            <div class="title show">
              <span>{{"TemplatePicker.Zone" | translate}}</span>
            </div>
          </div>
        </div>

        <!-- Content-Type selection (when not a generic app, but the default content-app -->
        <ng-template #contentApp>
          <div class="tiles">
            <div md-button class="tile" 
              [ngClass]="{ active: contentType?.StaticName === c.StaticName, blocked: preventTypeSwitch }"
              [attr.title]="c.Label | translate" 
              (click)="selectContentType(contentType, c)"
              (dblclick)="switchTab()" 
              *ngFor="let c of types"
            >
              <div class="bg">
                <img *ngIf="c.Thumbnail !== null && c.Thumbnail !== ''" class="bg-img" [attr.src]="c.Thumbnail + '?w=176&h=176'">
                <div *ngIf="c.Thumbnail === null || c.Thumbnail === ''" class="bg-icon">
                  <md-icon>bubble_chart</md-icon>
                </div>
              </div>
              <div class="title" [ngClass]="{ show: c.Thumbnail === null || c.Thumbnail === '' }">
                <span>{{c.Label}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </md-tab>

      <!-- template selection after app/content-type selection -->
      <md-tab *ngIf="isContent ? contentType : app" [label]="('TemplatePicker.ChangeView' | translate) + '(' + templates.length + ')'">
        <div class="tiles">
          <md-spinner class="templates-spinner" *ngIf="templatesLoading$ | async"></md-spinner>
          <div class="tile" [ngClass]="{ active: template?.TemplateId === t.TemplateId }" [attr.title]="t.Name" (click)="selectTemplate(t)"
            *ngFor="let t of templates">
            <div class="bg">
              <img *ngIf="t.Thumbnail !== null && t.Thumbnail !== ''" class="bg-img" [attr.src]="t.Thumbnail + '?w=176&h=176'">
              <div *ngIf="t.Thumbnail === null || t.Thumbnail === ''" class="bg-icon">
                <md-icon *ngIf="isContent">view_carousel</md-icon>
                <md-icon *ngIf="!isContent">view_quilt</md-icon>
              </div>
            </div>
            <div class="title" [ngClass]="{ show: t.Thumbnail === null || t.Thumbnail === '' }">
              <span>{{t.Name}}</span>
            </div>
          </div>
          <div class="tile config" *ngIf="showAdvanced && !isContent && app?.appId !== null" (click)="run('app')" [attr.title]="'TemplatePicker.App' | translate">
            <div class="bg">
              <div class="bg-icon">
                <md-icon>settings</md-icon>
              </div>
            </div>
            <div class="title show">
              <span>{{"TemplatePicker.App" | translate}}</span>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tab-group>

    <span class="no-install-allowed" *ngIf="isBadContextForInstaller && showInstaller">No {{isContent ? 'Content Apps' : 'Apps'}} installed yet. Please persue the installation by creating a new {{isContent ? 'Content' : 'App'}} in the root of your website.</span>
    <app-installer *ngIf="!isBadContextForInstaller && showInstaller" [isContentApp]="isContent"></app-installer>
  </div>
</div>
